/*appointment buttons*/
.appointment-button{
    background-color: #4a5759;
    border-width: 0px;
    margin-right: 15px;
    width:190px;
    height:45px;
    color: #f7e1d7;
    }

.appointment-button:hover{
    background-color: #384547;
    }

/*cover header*/
.cover{
    background-color: #f7e1d7;
    width:100%;
    height:650px;
    display: flex; /* Enables flexbox layout */
    flex-direction: column; /* Aligns items vertically */
    align-items: center; /* Centers items horizontally */
    justify-content: center;
    text-align: center;
}

.nav-item{
    color: #4a5759;
}

body h1{
    font-size:70px;
    color: #4a5759;
    text-align: center;
    margin-top: 10px;
}

body p{
    color: #4a5759;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}

/*book now button*/
#book-now{
    margin-top: 10px;
}

/*nail cover images*/
.image-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
  }
  
  .image-container img {
    width: auto;
    height: 300px;
    object-fit: cover;
  }

.more-info-container {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.more-info-container h1{
    font-size:30px;
    color: #4a5759;
    text-align: center;
}
  
/*embedded signup contact form*/
.contact-form{
    background:#f7e1d7; 
    width:100%;
    height:650px;
    display: flex;
    justify-content: left;
    font:14px Helvetica,Arial,sans-serif; 
    width: 600px;
}